<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="faq-modal.css">
  <title>FAQ</title>
</head>
<script>
  window.fwSettings={
    'widget_id':101000000852
  };
  !function(){if("function"!=typeof window.FreshworksWidget){var n=function(){n.q.push(arguments)};n.q=[],window.FreshworksWidget=n}}()
</script>
<script type='text/javascript' src='https://euc-widget.freshworks.com/widgets/101000000852.js' async defer></script>
<script>
  FreshworksWidget('hide','launcher');
  FreshworksWidget('open');
</script>
<body>
  <div id="custom-close-button"></div>
</body>
</html>
