<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">

  <!-- Stylesheets -->
  <link rel="preload" href="./handmadepaper.png" as="image">
  <link rel="stylesheet" href="./style.css">
  <link rel="stylesheet" href="./home.css">
  <link rel="stylesheet" href="./desktop.css">

  <!-- Other Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="./leaf32.png" type="image/x-icon">
</head>

<body>
</body>
</html>
