elm-stuff
dist/*
src/elm.js
src/elm-*.js
app/*
/web/*
!app/package.json
!app/package-lock.json
node_modules
Gingko-*
*.ps
*.pdf
*.xoj
npm-debug.log
*.env
config.js
.idea
cypress/screenshots
cypress/videos
test-results/
playwright-report/
