html, body {
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font: caption;
}

h1 {
  margin: 0;
}

label {
  font: caption;
}

.visible {
  display: unset;
}
.hidden {
  display: none!important;
}

#template-block {
  background-color: hsl(219, 13%, 21%);
  padding: 20px;
  padding-bottom: 30px;
  box-shadow: inset 0px -2px 4px hsla(0,0%,0%,0.4);
  display: flex;
  color: hsl(0,0%,94%);
}

.template-item {
  cursor: pointer;
}

.template-thumbnail {
  width: 120px;
  background: white;
  height: 80px;
  margin-right: 30px;
  margin-bottom: 5px;
  box-shadow: 1px 1px 4px black;
  border: 2px solid transparent;
}

.template-item:hover .template-thumbnail {
  border: 2px solid #a6cc90;
}

.template-title {
  font-weight: bold;
  font-size: 90%;
}

.template-thumbnail.new {
  background: url('https://ssl.gstatic.com/docs/templates/thumbnails/docs-blank_1.png');
  background-size: cover;
  background-position-y: center;
}

.template-thumbnail.import {
  display: flex;
  justify-content: center;
  align-items: center;
}

#documents-block {
  padding: 10px 20px;
}

.list-section-header {
  color: hsl(221, 32%, 77%);
  margin-left: 20px;
  margin-bottom: 5px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  margin-top: 10px;
  color: hsl(221, 32%, 77%);
  font-size: 80%;
}

.document-item {
    display: flex;
    justify-content: space-between;
    background: hsl(0, 1%, 90%);
    padding: 10px 20px;
    padding-right: 10px;
    margin-bottom: 4px;
    cursor: pointer;
    box-shadow: 1px 0px 2px hsla(0,0%,0%,0.4);
    border-radius: 2px;
    border-bottom: 1px solid hsl(0,0%,25%);
    border-top: 1px solid white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.document-item:hover {
    background: white;
}

.doc-title {
  flex: auto;
}

.doc-title, .doc-modified {
  margin-right: 10px;
}

.doc-buttons {
  min-width: 36px;
  display: flex;
}
.doc-buttons * {
  width: 18px;
}
.doc-buttons *:hover path {
  background-color: white;
}
