html, body {
  background: #eef;
}

body {
  padding: 24px 10px 10px 10px;
}

#title-bar {
  position: fixed;
  height: 24px;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-app-region: drag;
  background: lightgray;
  padding: 0px;
  margin: 0px;
}

#title {
  font-family: sans-serif;
  font-size: 14px;
  color: #444;
}
