:root {
  --dark-gray: hsl(202 59% 47%);
  --dark-gray-lighter: hsl(202 50% 56%);

  --light-gray: hsl(202 48% 60%);
  --light-gray-lighter: hsl(202 43% 67%);

  --white-bg: hsl(202, 100%, 100%);

  --gingko-green: #8CC63F;
}

