@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('./fonts/glyphicons-halflings-regular.woff2');
}
@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/Open_Sans/OpenSans-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/Open_Sans/OpenSans-Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/Open_Sans/OpenSans-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Droid Sans Mono';
  src: url('./fonts/Droid_Sans_Mono/DroidSansMono.ttf');
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('./fonts/Roboto_Mono/RobotoMono-Regular.ttf');
}
@font-face {
  font-family: 'Roboto Mono';
  src: url('./fonts/Roboto_Mono/RobotoMono-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Bitter';
  src: url('./fonts/Bitter/Bitter-Regular.ttf');
}
@font-face {
  font-family: 'Bitter';
  src: url('./fonts/Bitter/Bitter-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Bitter';
  src: url('./fonts/Bitter/Bitter-Italic.ttf');
  font-style: italic;
}

:root {
  --dark-gray: hsl(212, 20%, 68%);
  --dark-gray-lighter: hsl(212, 20%, 73%);

  --light-gray: hsl(214, 18%, 87%);
  --light-gray-lighter: hsl(214, 18%, 92%);

  --white-bg: hsl(240, 100%, 100%);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  background: url('./concrete_wall.png');
}

body {
  overflow: hidden;
}

::selection { background: #9fe147; }

/* ======== FLEXBOX ======== */

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


#root {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
}

#app::-webkit-scrollbar {
  height: 10px;
}

#app::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
  box-shadow: inset 1px 0px 2px 0px #312c2c;
}

#app::-webkit-scrollbar-thumb {
  background: #61808e;
  border-radius: 20px;
  border-top: 1px solid #8499a2;
  border-bottom: 1px solid #566e78;
}


/* ======== COLUMNS ======== */

#app {
  display: flex;
  justify-content: space-between;
  flex: 1;
  overflow-x: auto;
  overflow-y: hidden;
  transform: translateZ(0);
}

.column {
  flex: 1 0;
  height: 100%;
  max-width: 600px;
  min-width: 450px;
  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateZ(0);
}

.column::-webkit-scrollbar {
  width: 0 !important;
}


.column:first-child, .column:last-child{
  flex: 0.25 0;
  min-width: 100px;
}

.column:first-child .buffer, .column:last-child .buffer {
  display: none;
}

.buffer {
  background: rgb(50, 89, 107);
  border-right: 2px solid rgb(63, 102, 121);
  border-left: 2px solid rgb(42, 79, 97);
  margin: 0 16px;
  height: 90%;
  z-index: 1;
}


/* ======== GROUP ======== */

.group {
  margin: 0;
  margin-right: -1px;
  padding: 10px;
  border-top: 1px solid #d3e6f1;
  border-bottom: 1px solid #3c484e;
  background-color: var(--dark-gray);
  color: #717181;
  box-shadow: 1px 1px 6px #2b3c52;
  z-index: 5;
  position: relative;
}

.group:empty {
  height: 0;
  padding: 0;
  border: none;
}

.group.has-active {
  background: var(--light-gray);
  color: #333;
}

.group.active-descendant {
  color: #333;
  background: var(--white-bg);
  border-radius: 8px 0 0 8px;
}


/* ======== CARD (Normal view) ======== */

.card {
  border-left: 4px solid rgba(255,255,255,0);
  border-radius: 3px;
  position: relative;
  background-color: var(--dark-gray);
  margin-bottom: 2px;
}
.card:last-child {
  margin-bottom: 0;
}

.card:hover {
  background: var(--dark-gray-lighter);
}

.group.active-descendant .card {
  background: var(--white-bg);
}

.group.active-descendant .card:hover {
  background: var(--white-bg);
  box-shadow: 0px 1px 3px lightgray;
}

.group.has-active .card {
  background: var(--light-gray);
}

.group.has-active .card:hover {
  background: var(--light-gray-lighter);
}

.card .view {
  padding: 17px;
  min-height: 56px;
  cursor: pointer;
}

.card.active .view {
  cursor: auto;
}

.group.has-active .card.active {
  background: var(--white-bg);
  color: #332222;
  border: none;
  border-left: 4px solid #8CC63F;
  box-shadow: 0px 1px 3px gray;
}

.group.has-active .card.active.has-children::after {
  content: '';
  background: var(--white-bg);
  position: absolute;
  width: 12px;
  height: 100%;
  right: -10px;
  top: 0;
  opacity: 1;
  transition: none;
  box-shadow: 3px 1px 3px gray;
}
.card.editing.has-children::after {
  opacity: 0;
  transition: opacity 2s ease;
}

.card.parent {
  background: var(--light-gray);
  color: #333;
}

.card.parent:hover {
  background: var(--light-gray-lighter);
  color: #333;
}

.card.parent::after {
  content: '';
  background: var(--light-gray);
  position: absolute;
  width: 12px;
  height: 100%;
  right: -10px;
  top: 0;
  opacity: 1;
  transition: none;
}

span.collaborators {
  position: absolute;
  top: 5px;
  right: 5px;
  color: hsl(208, 56%, 30%);
  font-size: 80%;
}

.card.collab-active {
  border: none;
  border-left: 4px solid #428bca;
}

.card.collab-active.collab-editing::after {
  content: '\A';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: hsla(208, 56%, 53%, 0.4);
  pointer-events: none;
}

.card.active.collab-active {
  border: none;
  border-left: 4px solid #6aab7e;
}

/* --- Typography --- */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bitter', serif;
  margin: 0;
  line-height: 1.5;
}

h1 { font-size: 24px; margin-bottom: 8px }
h2 { font-size: 20px; margin-bottom: 6px }
h3 { font-size: 16px; margin-bottom: 5px }
h4 { font-size: 14px; margin-bottom: 4px }
h5 { font-size: 12px; margin-bottom: 3px }
h6 { font-size: 10px; margin-bottom: 0 }

p {
  margin: 0;
  padding: 0 0 10px;
}

.card .view {
  font-family: 'Open Sans', serif;
  line-height: 1.4;
}

p:last-child, ul:last-child { padding-bottom: 0 }

pre, code {
  font-family: 'Droid Sans Mono', monospace;
  color: #333333;
}

pre,
blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  white-space: pre;
  background-color: #f9f2f4;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.428571429;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

ul, ol {
  margin: 0;
}

.card img {
  max-width: 100%;
}

/* ======== CARD (Edit view) ======== */

/* --- Autofocus --- */
#app,
#app .buffer {
  transition: all 0.25s ease;
}

#app.editing .group {
  background-color: var(--dark-gray);
}

#app.editing,
#app.editing .buffer,
#app.editing .group {
  background: rgb(50, 89, 107);
  transition: background 60s ease, box-shadow 60s ease, border-color 60s ease;
  box-shadow: none;
  border-color: transparent;
}

#app.editing .card {
  box-shadow: 1px 2px 4px hsla(0, 0%, 0%, 0.4);
  transition: box-shadow 60s ease;
}

/* --- Core --- */

.card.editing .view {
  display: none;
}

.card.editing {
  padding: 15px 0px 5px 0px; 
  border: none;
  border-radius: inherit;
  background-image: url('./handmadepaper.png');
}

.card.editing textarea {
  display: block;
  background: transparent;
  max-height: 600px;
  text-shadow: -1px -1px 0px rgba(0,0,0,0.1), 1px 1px 0px rgba(255,255,255,0.8);
  color: hsl(27,28%,22%);
  resize: none;
}

.card textarea {
  display: none;
  outline: none;
  border: none;
  min-height: 60px;
  max-height: 80%;
  overflow-x: hidden;
  width: 100%;
  font-size: 16px;
  line-height: 23px;
  padding: 5px 15px;
  font-family: 'Droid Sans Mono', monospace;
}


/* ======== CARD (Buttons) ======== */

/* --- Icons --- */

.card-btn.edit,
.card-btn.save,
.card-btn.cancel,
.card-btn.delete {
  font-family: 'Glyphicons Halflings';
  font-size: 13px;
}
.card-btn.edit::before {
  content: "\270f";
}
.card-btn.save::before {
  content: "\e013";
}
.card-btn.cancel::before {
  content: "\e090";
}
.card-btn.delete::before {
  content: "\e014";
}

/* --- Containers --- */

.card-top-overlay, .card-right-overlay, .card-bottom-overlay {
  position: absolute;
  height: 100%;
  width: 33%;
  right: 0;
  pointer-events: none;
}

.card-top-overlay, .card-right-overlay {
  top: 0;
}

.card-top-overlay, .card-bottom-overlay {
  height: 33%;
  width: 100%;
}


.card-bottom-overlay {
  bottom: 0;
}

.card-btn {
  cursor: pointer;
  pointer-events: auto;
  position: absolute;
  border-top: 1px solid hsl(0, 0%, 81%);
  border-left: 1px solid hsl(0, 0%, 81%);
  border-right: 1px solid hsl(0, 0%, 53%);
  border-bottom: 1px solid hsl(0, 0%, 53%);
  color: hsl(0, 0%, 71%);
  text-align: center;
  z-index: 100;
  transition: all 0.4s ease-in;
  opacity: 0;
  user-select: none;
}

.card-btn.save,
.card-btn.cancel {
  opacity: 0.4;
}



/* --- Button positioning & colors --- */

.card-btn.ins-right,
.card-btn.ins-above,
.card-btn.ins-below {
  background: var(--white-bg);
  height: 20px;
  width: 40px;
  line-height: 20px;
}

.card-btn.ins-right {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
  height: calc(100% - 44px);
  max-height: 80px;
  border-left: none;
  width: 20px;
  right: -9px;
}
.card-btn.ins-right::before {
    content: '';
    width: 7px;
    height: 7px;
    background: rgb(253, 253, 255);
    position: absolute;
    left: -7px;
    border-radius: 0 0 0 10px;
    border-bottom: 1px solid hsl(0, 0%, 60%);
    top:  -7px;
}
.card-btn.ins-right::after {
    content: '';
    width: 7px;
    height: 7px;
    background: rgb(253, 253, 255);
    position: absolute;
    left: -7px;
    border-radius: 10px 0 0 0;
    border-top: 1px solid hsl(0, 0%, 40%);
    bottom:  -7px;
}

.card-btn.ins-above {
  top:-10px;
}

.card-btn.ins-below {
  bottom:-10px;
}

.card-btn.delete {
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: none;
  border-radius: 0px 3px 0px 0px;
  color: hsl(0, 0%, 20%);
}

.card-btn.edit {
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: none;
  border-radius: 0px 0px 3px 0px;
  color: hsl(180, 0%, 20%);
}

.card-btn.save {
  bottom: 0;
  right: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: none;
  color: hsl(180, 0%, 20%);
}

.card-btn.cancel {
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: none;
  color: hsl(180, 0%, 20%);
}


/* --- Button state --- */

.card:hover .card-btn:not(.save) {
  opacity: 0.3;
}

.card:hover .card-btn.ins-above:hover,
.card:hover .card-btn.ins-below:hover {
  transform: translateY(-1px);
  background: hsl(86, 71%, 95%);
  box-shadow: 0px 1px 1px hsl(0, 0%, 57%);
  opacity: 1.0;
  transition: none;
}
.card:hover .card-btn.ins-right:hover {
  opacity: 1.0;
  border-bottom: 1px solid hsl(0,0%,40%);
  border-right: 1px solid hsl(0,0%,40%);
  border-top: 1px solid hsl(0,0%,65%);
  transition: none;
}

.card:hover .card-btn.ins-above:active,
.card:hover .card-btn.ins-below:active {
  background: hsl(86, 71%, 82%);
  transform: none;
  box-shadow: none;
}

.card:hover .card-btn.delete:hover {
  color: hsl(0, 79%, 66%);
  opacity: 1.0;
  transition: none;
}

.card:hover .card-btn.delete:active {
  color: hsl(0, 80%, 48%);
}

.card:hover .card-btn.edit:hover {
  color: hsl(215, 79%, 66%);
  opacity: 1.0;
  transition: none;
}

.card:hover .card-btn.edit:active {
  color: hsl(215, 54%, 51%);
}

.card:hover .card-btn.save:hover {
  color: hsl(86, 54%, 51%);
  opacity: 1.0;
  transition: none;
}

.card:hover .card-btn.save:active {
  color: hsl(86, 54%, 41%);
}

.card:hover .card-btn.cancel:hover {
  color: hsl(48, 100%, 50%);
  opacity: 1.0;
  transition: none;
}

.card:hover .card-btn.cancel:active {
  color: hsl(48, 100%, 40%);
}

/* --- Root card buttons --- */

.card.root:not(.has-children) .card-btn,
.card.root:not(.has-children):hover .card-btn {
  opacity: 1;
}
.card.root .view {
  min-height: 70px;
}

/* --- Markdown content formatting --- */

.card .view code {
  white-space: inherit;
}

/* ======== CARD (Drop regions) ======== */

.drop-region-above, .drop-region-into, .drop-region-below {
  position: absolute;
  height: 100%;
  width: 25%;
  right: 0;
}

.drop-region-into {
  top: 0;
}

.drop-region-above, .drop-region-below {
  height: 30px;
  width: 100%;
}

.drop-region-above {
  top: -15px;
}

.drop-region-below {
  bottom: -15px;
}

.drop-region-above.drop-hover,.drop-region-below.drop-hover {
  background: linear-gradient(to bottom
    , hsla(86,54%,51%,0.05) 0px
    , hsla(86,54%,51%,0.1) 8px
    , hsla(86,54%,51%,0.5) 12px
    , hsla(86,54%,51%,0.8) 12px
    , hsla(86,54%,51%,0.8) 16px
    , hsla(86,54%,51%,0.5) 16px
    , hsla(86,54%,51%,0.1) 20px
    , hsla(86,54%,51%,0.05) 28px
    );
}

.drop-region-into.drop-hover {
  background: linear-gradient(to right, hsla(86,54%,51%,0) 0%,hsla(86,54%,51%,0.81) 77%,hsla(86,54%,51%,1) 95%,hsla(86,54%,51%,1) 54%);
}




/* ======== MODAL ======== */

.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  z-index: 99999;
}

.modal {
  background: white;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.35);
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-header a {
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  color: gray;
}
.modal-header a:hover {
  color: black;
}


/* ======== STATUS BAR ======== */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 25px;
  width: 100%;
  padding: 2px 6px;
  margin-top: 3px;
  font-size: 12px;
  font-family: sans-serif;
  color: #334;
  background-color: hsl(199, 11%, 67%);
  border-top: 1px solid #c8d3d8;
}

.footer .inset {
  border-top: 1px solid #84939a;
  border-left: 1px solid #84939a;
  border-bottom: 1px solid #c8d3d8;
  border-right: 1px solid #c8d3d8;
  padding: 2px 6px;
}

#wordcount {
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  height: 20px;
  cursor: default;
  transition: none;
}

#wordcount:hover {
  background-color: #a2aeb4;
  border-radius: 4px 4px 0 0;
  transition: height 0.2s ease-out;
  box-shadow: 14px -12px 4px -13px #3c484e;
  z-index: 9999;
}

#shortcuts-tray {
  display: flex;
  flex-direction: column-reverse;
  padding: 1px 6px;
  z-index: 9999;
}

#shortcuts-tray div.popup {
  position: absolute;
  bottom: 20px;
  left: 6px;
  display: flex;
  flex-direction: column;
  padding: 2px 8px 8px 6px;
  border-radius: 4px 4px 4px 0;
  border-bottom: 1px solid #84939a;
  background-color: #a2aeb4;
  cursor: default;
}
#shortcuts-tray div.popup::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 99%;
  left: 0px;
  border-radius: 4px 4px 4px 0;
  z-index: -1;
  box-shadow: 1px -2px 3px #3c484e;
}
#shortcuts-tray div.popup::after {
  content: '';
  width: 43px;
  height: 1px;
  background-color: #a2aeb4;
  position: absolute;
  bottom: -1px;
  left: 1px;
}

#shortcuts-tray div.icon-stack {
  display: flex;
  align-items: center;
}

span.shortcut-key {
  display: inline-block;
  min-width: 22px;
  height: 20px;
  line-height: 16px;
  margin-top: 4px;
  margin-right: 3px;
  padding: 1px 4px;
  background: #d0d0d0;
  border: 1px #b3b3b3 solid;
  border-radius: 3px;
  text-align: center;
  box-shadow: inset 0 1px 0 #efefef, 1px 1px 0 #7d7f8c;
}

#wc-progress {
}
#wc-progress-wrap {
  display: flex;
  height: 14px;
}
#wc-progress-bar {
  height: 100%;
  background: blue;
}
#wc-progress-bar-session {
  height: 100%;
  background: green;
}


/* ======== HISTORY ======== */

#history {
  position: absolute;
  top: 20px;
  left: 5px;
  z-index: 999;
  overflow-y: auto;
}
.conflicts-list {
  position: absolute;
  z-index: 999;
  left: 15px;
  bottom: 10px;
  max-width: 40%;
  padding: 0;
}
.conflict-container {
  background: transparent;
  border: 1px solid lightgray;
  border-radius: 10px 0px 0px 10px;
}
.conflict-container .row {
  text-align: center;
  vertical-align: middle;
  margin: 4px;
}
.option {
  padding: 15px;
  opacity: 0.5;
  cursor: pointer;
  border: 1px solid lightgray;
  background: lightgray;
}
.option.selected, .option.selected:hover {
  opacity: 1;
  border: 1px solid blue;
  background: white;
}
.option:hover {
  opacity: 0.75;
}
ul.changelist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.changelist li {
  text-align: left;
}
del.diff {
  background: hsl(0, 100%, 77%);
}
ins.diff {
  background: hsl(95, 70%, 60%);
}
ul.changelist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}



.op-ins {
  background: rgba(0,255,0,0.2);
}
.op-ins:hover {
  background: rgba(0,255,0,0.6);
}
.op-upd {
  background: rgba(0,0,255,0.2);
}
.op-upd:hover {
  background: rgba(0,0,255,0.6);
}
.op-del {
  background: rgba(255,0,0,0.2);
}
.op-del:hover {
  background: rgba(255,0,0,0.6);
}
#graph {
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 113.56px;
  z-index: 999;
}
