<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <title>Gingko - Home Screen</title>
  <link rel="stylesheet" href="styles/github.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <h1>Hi there!</h1>
</body>
</html>
