<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <title>Untitled Tree - Gingko</title>
  <link rel="stylesheet" href="styles/github.css">
  <link rel="stylesheet" href="style.css">
  <script src="highlight.pack.js"></script>
  <script type="text/javascript">
    const machineIdSync = require('node-machine-id').machineIdSync
    const sha1 = require('sha1')
    window.$crisp=[];
    const user_id = sha1("privacy-for-machine-id" + machineIdSync());
    window.CRISP_TOKEN_ID=user_id;
    window.CRISP_WEBSITE_ID="850b0cd9-6ffc-49d3-a70e-41bf82f7f6ef";
    (function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
  </script>
</head>

<body>
<div id="history"></div>
</body>
</html>
