<!DOCTYPE HTML>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="desktop.css">
  <link rel="stylesheet" href="shortcuts-modal.css">
</head>

<body>
</body>
</html>
